*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#principal{
    background-color: #999;
    display: flex;
}

.box1,.box2,.box3{
    padding: 20px ;
}

.box1{background: red;}
.box2{background: green;}
.box3{background: yellow;}