*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
}

#select-div select option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}