/* Colocar as três seções uma do lado da outra */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#principal{
    background-color: #999;
}

.box1{
    background: red;
    width: 33.33%;
    float: left;
}

.box2{
    background: green;
    width: 33.33%;
    float: left;
}

.box3{
    background: yellow;
    width: 33.33%;
    float: left;
}

.clear{
    clear:both
}