div{
    margin: 50px;
    padding: 50px;
}

.box1{
    background: linear-gradient(to bottom, rgb(68, 0, 255), rgb(247, 0, 255));
    /* background: linear-gradient(to right, rgb(0, 255, 76), rgb(0, 255, 221));
    background: linear-gradient(to left, red, yellow); */
}
.box2{
    /* Dá pra inclinar o gradiente usando deg */
    background: linear-gradient(45deg, rgb(0, 255, 76), rgb(0, 217, 255), rgb(0, 255, 76));
}
.box3{
    /* Posso definir o quanto em % eu quero de cada cor */
    background: linear-gradient(to right, red 60%, yellow);;
}

